* {
  box-sizing: border-box;
  margin: 0;
}

body {
  max-width: 100vw;
  overflow-x: hidden;
  background-color: #fcf6ed;
  padding: 2rem;
}

a {
  text-decoration: none;
  color: #9a3030;
}

a:hover {
  text-decoration: underline;
}

nav {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.header nav {
  position: fixed;
  right:0;
  padding:2rem;
  align-items: center;
}

button {
  padding: 0.5rem;
  border: 1px solid #9a3030;
  border-radius: 40px;
  background-color: #e1f390;
  color: #9a3030;
  font-size: 16px;
  margin: 2rem;

}

.footer {
  display: flex;
  flex-direction: column;
  font-size: 10px;
  gap: 1rem;
}

main {
  height: 100vh;
  padding-bottom: 2rem;
}



