.home,
.about {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
}

.home h1,
.about h1 {
  font-size: 200px;
  padding-top: 2rem;
  color: #DB5461;
}

.blogFeed {
  display: flex;
  flex-direction: column;
  align-items:center;
  padding-top: 5rem;
}

.blogFeed p {
  font-size: 200px;
  background-color:#E3F2FD;
  color: #DB5461;
  padding: 1rem;
  border-radius: 10px;
  margin-bottom: 2rem;
}
.blogFeed div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2rem;
}

.blogFeed h3 {
  padding: 1rem;
  border: solid 1px #DB5461;
  background-color: #E3F2FD;
  border-radius: 5px;
  color: black;}

.blogFeed h2 {
  padding-bottom: 3rem;
  color: #DB5461;
}

.blogFeed h6 {
  padding: 0.5rem;
}

.singleBlog {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
}

.blogText {
  height: 100vh;
}

.blogText h2 {
  padding-bottom: 0.5rem;
  color: #8AA29E;
  font-size: 200px;
}

.comments {
  width: 500px;
  border: solid #E3F2FD 1px;
  background-color: #E3F2FD;
  border-radius: 30px;
}
.comments form {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  padding: 1rem;
}

.comments textarea {
  border-radius: 5px;
  border: 0.5px solid black;
}

.comments h4{
  padding:1rem;
}

.comments textarea {
  width: 400px;

}

.comments li {
  font-family: serif;
  color: black;
  padding-bottom:0.5rem;
}


.progress-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 10px;
  background-color: #3f4d32;
  transform-origin: 0%;
}